*{
    place-items: center;
    justify-content: center;
}

.dark-mode{
    background-color: #121212;
    color: #f1f1f1;
}

.app{    
    width: 1200px;
}

.header{
    display: flex;
    justify-content: space-between;
    gap: 900px;
}

.header-text{
    text-justify: left;
}

.header-text h2 span{
    font-weight: 300; 
    font-size: large;
}

.header-button{
    font-size: xx-large;
}

.app-content{
    margin-left: 20px;
    justify-self: start;
}

.app-content h2{
    justify-self: start;
}

.app-content form input{
    height: 35px;
    justify-content: space-between;
    gap: 20px;
    width: 400px;
    border-radius: 5px;
    border: none;
    padding-left: 10px;
    background-color: rgb(218, 221, 224);
}

.app-content form button{
    height: 35px;
    width: 150px;
    border: none;
    border-radius: 5px;
}

.app-content input[id="search-bar"]{
    margin: 30px 0;
    height: 40px;
    width: 810px;
    background-color: rgb(166, 213, 246);
    border: none;
    border-radius: 5px;
    padding-left: 10px;
}

.card-container{
    width: 80%;
    display: flex;
    gap: 20px;
}

.card{
    margin: 10px;
    width: 300px;
    height: 150px;
    border: solid 1px;
    border-radius: 5px;
    display: flex;
}

.card-info{
    justify-self: start;
    text-align: start;
    margin: 5px;
}

.card-info p{

}

.card button{
    color: green;
    cursor: pointer;
    border: none;
}

.card button:hover{
    text-decoration: underline;
}
