body{
    justify-content: center;
    align-items: center;
    place-items: center;
}

.app{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 50px;
}

input{
    width: 200px;
    height: 40px; 
    border-radius: 10px;
    padding-left: 10px;
}

button{
    width: 100px;
    height: 45px;
    background-color: burlywood;
    border-radius: 10px;
    cursor: pointer;
    border: none;
}

button:hover{
    background-color: cadetblue;
    transition: ease-in 0.2s;
}



