*{
    align-items: center;
}

body{
    display: flex;
    flex-direction: column;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.toast{
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    transition: all 0.3s ease;
    opacity: 1;
    transform: translateY(0);
    pointer-events: all;
    background-color: #333;
    color: #fff;
}