body{
    place-items: center;
}

.container {
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    justify-content: center;
    gap: 10px;
    margin-top: 30px;
    background-color: #f0f0f0;
    border-radius: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.ToConvert, .Converted{
    display: flex;
    align-items: center;
}

input, button, p {
    padding: 5px;
    margin: 5px;
    width: 250px;
    height: 35px;
    border-radius: 20px;
    border: transparent;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

button:hover {
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    transition: all 0.3s ease;
}

span {
    position: relative;
    left: -30px;
}