.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    justify-content: space-around;
}

input, button, p {
    padding: 5px;
    margin: 5px;
    width: 250px;
    height: 25px;
    border-radius: 20px;
    border: transparent;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}