*{
    align-items: center;
}

body{
    display: flex;
    flex-direction: column;
}

.container h1{
    text-align: center;
}

.container #booklist{
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.card{
    width: 400px;
    height: auto;
    margin: 50px;
    padding: 15px;
}